@font-face {
    font-family: "Formula 1";
    src: url("../fonts/Formula1/Formula1-Regular_web_0.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Formula 1";
}
.background-decor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../icons/F1-Background.png") no-repeat center center;
    background-size: cover;
    z-index: 0;
    overflow: hidden;
    }

.background-decor::before,
.background-decor::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
    animation: float 10s infinite ease-in-out;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper{
    width: 420px;
    background: rgba(200, 50, 50, 0.5);
    position: relative;
    color: #fff;
    padding: 30px 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 85, 85, 0.57); 
    
}

.wrapper.visible {
    opacity: 1;
    transform: translateY(0);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 40px;
    padding: 20px 45px 20px 20px
}

.input-box input::placeholder{
    color: #fff
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
}

.wrapper .register-user{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 20px;
}

.register-user{

    text-align: center;
}

.register-user p a{
    color: #fff;
    text-decoration: none
}
.register-user p a:hover{
    text-decoration: underline;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(30%);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(-30%);
    }
}

.img-right,
.img-left {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: auto;
    width: clamp(300px, 45vw, 500px); 
    transition: all 0.3s ease;
}

.img-right {
    right: 0;
    transform: translateX(30%);
    animation: slideInRight 1s ease-out forwards;
}

.img-left {
    left: 0;
    transform: translateX(-30%);
    animation: slideInLeft 1s ease-out forwards;
}




@media (max-width: 600px) {
    .img-right,
    .img-left {
        display: none;
    }
}
